.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body{
  background-color: #000000;
  color: #ffff;
}

.mypic{
  display: flex;
  align-content: center;
  gap: 30px;
}

.mypic img{
  height:400px;
  width: 370px;
  margin: 30px;
  padding: 3px;
  margin-left: 100px;
  box-shadow: #6c82b1 1px 1px 2px 2px;
}

.mypic h1{
  padding-top: 80px;
}

.mypic h1:hover{
  color: rgb(194, 7, 7);
  transition: all;
  transition-duration: 0.5s;
}

.textcontent{
  width: 600px;
}

.textcontent button{
  height: 60px;
  width: 170px;
  margin-top: 20px;
  background-color: rgb(30, 235, 19);
  border: none;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  border-radius: 10px;
  color: rgb(0, 0, 0);
}

.textcontent button:hover{
  background-color: rgb(5, 114, 11);
  color: #ffff;
  font-size: 20px;
  transition: all;
  transition-duration: 1s;
  width: 300px;
}

.Symbols img{
  height: 45px;
  width: 45px;
  box-shadow: none;
  animation: none;
  padding: 10px 20px 10px 20px;
  margin: 0;
  margin-left: 15px;
}

.Symbols img:hover{
  animation: none;
  animation-iteration-count: none;
}

.footer {
  position: absolute;
  width: 100%;
  background-color: rgb(0, 0, 0);
  text-align: center;
  margin-top: 20px;
}

.footer a{
  color: #ffff;
}

