.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  background-color: #ffffff;
}

.mypic{
  display: flex;
  align-content: center;
  gap: 30px;
}

.mypic img{
  height:400px;
  width: 270px;
  margin: 30px;
  border-radius: 50%;
  padding: 30px;
  margin-left: 100px;
  box-shadow: #6c82b1 10px 10px;
}

.mypic img:hover{
  animation: shake 2s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.mypic h1{
  padding-top: 80px;
}

.mypic h1:hover{
  color: rgb(194, 7, 7);
  transition: all;
  transition-duration: 0.5s;
}

.textcontent{
  width: 600px;
}

.textcontent button{
  height: 60px;
  width: 170px;
  margin-top: 20px;
  background-color: rgb(30, 235, 19);
  border: none;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  border-radius: 10px;
  color: rgb(0, 0, 0);
}

.textcontent button:hover{
  background-color: rgb(5, 114, 11);
  color: #ffff;
  font-size: 20px;
  transition: all;
  transition-duration: 1s;
  width: 300px;
}

.Symbols img{
  height: 45px;
  width: 45px;
  box-shadow: none;
  animation: none;
  padding: 10px 20px 10px 20px;
  margin: 0;
  margin-left: 15px;
}

.Symbols img:hover{
  animation: none;
  animation-iteration-count: none;
}

.footer {
  position: absolute;
  width: 100%;
  background-color: rgb(0, 0, 0);
  text-align: center;
  margin-top: 20px;
}

.footer a{
  color: #ffff;
}

.mode{
  padding: 0;
  margin: 0;
  height: 40px;
  width: 90px;
  background: linear-gradient(rgb(248, 248, 248), rgb(0, 0, 0));
  font-size: 15px;
  font-weight: 700;
  color: rgb(179, 173, 173);
  cursor: pointer;
  border: none;
  border-radius: 20px;
  box-shadow: rgb(19, 17, 17) 2px 5px;
}