.Container {
  display: flex;
  align-content: center;
  justify-content: space-between;
  margin: 10px;
  padding: 10px;
  gap: 20px;
  font-size: 24px;
  font-weight: bold;
}

.Nav-Content {
  display: flex;
  align-content: center;
  justify-content: center;
  margin: 10px;
  gap: 20px;
  font-size: 15px;
  padding-right: 80px;
  padding-top: 8px;
  list-style-type: none;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
}

li a {
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #70e96a;
  color: red;
}

.active {
  background-color: #1add95;
}

img {
  height: 50px;
  width: 50px;
  margin-top: 15px;
  margin-left: 20px;
}
